<div class="home__container">
    <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202306/1301/0a5face6e59f61c2ed7f9423c778b10f2e4b8cada54d164f.png"
    gamelabel="NEW"
    gamePrice="R$ 499,90"
    gameType="DELUXE | PS5"
    gameBuy="Buy it Now!"
    >
    </app-card>
    <app-card
    gameCover="https://upload.wikimedia.org/wikipedia/pt/d/dc/Ghost_of_Tsushima_capa.png"
    gamelabel="EXCLUSIVE"
    gameType="Full Game | PS4"
    gamePrice="Adquired"
    gameBuy="Start Now!"
    >
    </app-card>
    <app-card
    gameCover="https://bdjogos.com.br/capas/4612-Rocket-League-capa-1.jpg"
    gamelabel="CROSS PLAY"
    gameBuy="Download Now!"
    gamePrice="Free"
    gameType="Full Game | PS4 PS5"
    >
    </app-card>
    <app-card
    gameCover="https://upload.wikimedia.org/wikipedia/pt/0/0d/Elden_Ring_capa.jpg" 
    gameBuy="Buy it Now!"
    gamelabel="DIGITAL"
    gamePrice="R$ 299,90"
    gameType="Full Game | PS4"
    >
    </app-card>
    <app-card
    gameCover="https://upload.wikimedia.org/wikipedia/pt/a/a5/God_of_War_Ragnar%C3%B6k_capa.jpg"
    gamelabel="GAME OF THE YEAR"
    gameType="Exclusive | PS4 PS5"
    gamePrice="R$200,00"
    gameBuy="Buy it Now!"
    >
    </app-card>
</div>
